@tailwind base;
@tailwind components;
@tailwind utilities;

@import './theme/base.css';
@import './theme/dark.css';

.ProseMirror p.is-editor-empty:first-child::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

/* Optional: Style for empty nodes */
.ProseMirror .is-empty::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}