:root {
  --primary-100: #3275f8;
  --primary-90: #478af9;
  --primary-80: #5c9ffa;
  --primary-70: #71b4fb;
  --primary-60: #86c9fc;
  --primary-50: #9bdefd;
  --primary-40: #b0f3fe;
  --primary-30: #c5f8ff;
  --primary-20: #dafcff;
  --primary-10: #efffff;

  --secondary-100: #38d200;
  --secondary-90: #4ce614;
  --secondary-80: #60fa28;
  --secondary-70: #74ff3c;
  --secondary-60: #88ff50;
  --secondary-50: #9cff64;
  --secondary-40: #b0ff78;
  --secondary-30: #c4ff8c;
  --secondary-20: #d8ffa0;
  --secondary-10: #ecffb4;

  /* Neutral Colors */
  --neutral-100: #18181b;
  --neutral-90: #27272a;
  --neutral-80: #3f3f46;
  --neutral-70: #52525b;
  --neutral-60: #71717a;
  --neutral-50: #a1a1aa;
  --neutral-40: #d4d4d8;
  --neutral-30: #e4e4e7;
  --neutral-20: #f4f4f5;
  --neutral-10: #fafafa;
  --neutral-0: #ffffff;

  /* Destructive Colors */
  --destructive-100: #8c1517;
  --destructive-80: #bb1c1f;
  --destructive-60: #e92327;
  --destructive-40: #ee4f52;
  --destructive-20: #f27b7d;
  --destructive-10: #fef4f4;

  /* Accent Colors */
  --accent-100: #f4f4f5;
  --accent-foreground: #18181b;

  /* Background Colors */
  --background: #ffffff;
  --foreground: #09090b;

  /* UI Elements */
  --border: #e4e4e7;
  --input: #e4e4e7;
  --ring: #3275f8; /* Updated to match primary color */
  --muted: #f4f4f5;
  --muted-foreground: #71717a;

  /* Card Colors */
  --card: #ffffff;
  --card-foreground: #09090b;

  /* Popover Colors */
  --popover: #ffffff;
  --popover-foreground: #09090b;

  /* Radius */
  --radius: 0.5rem;
}
